@import "https://use.typekit.net/oov2wcw.css";

html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  padding: 5px;
}

#navbar, .navbar {
  height: 0px;
  position: fixed;
  top: 0;
  right: 0vw;
  /* background: #cfbac9; */
  width: 100%;
  text-align: right;
  
}
#navbar > div {
  transition-property: background-color;
  transition-duration: 0.3s;
  z-index: 2;
}


.opportunity:hover {
  scale: 1.09!important;
  color: black!important;
  background-color: white!important;
}

a:link {
  color: white;
}

.button {
  transition-property: background-color;
  transition-duration: 0.3s;
  
}

.button:link,.button:visited {
  background-color: black;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: white;
  width: 50px;
  padding: 20px;
}

.button:hover, .button:visited:hover {
  background-color: #cfbac9;
  color: black;
}

p, button, a, .button:link, .button:visited {
  font-size: 25px;
  font-family: century-gothic;
}

.close {
  padding: 20px;
}

html {
  background-image: linear-gradient(60deg, #556B2F, #D2B48C)!important;
  margin: 0;
}
.banner {
  width: 100%;
  overflow: hidden;

}

.banner > img {
  width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.activity:hover {
  scale: 1.09;
  background-color: black;
  color: white;
}

.activity {
  border-radius: 25px; 
  border: 5px solid black;
  transition-duration: 0.5s;
}

.overlay {
  transition-duration: 0.25s;
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
  background-color: #D2B48C;
  border-radius: 0px 0px 25px 25px; 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


#center {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  vertical-align: middle;
  margin-right: auto;
}

table#center {
  border: 2px solid white;
}

#center {
  width:500px;
  height:500px;
  position:fixed;
  margin-left:-250px; /* half of width */
  margin-top:-250px;  /* half of height */
  top:50%;
  left:50%;
}

td {
  text-align: center;
}

.gsi-material-button {
background-color: transparent;
}

.gsi-material-button {
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-webkit-appearance: none;
background-image: none;
border: 2px solid #ffffff;
-webkit-border-radius: 20px;
border-radius: 20px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #f2f2f2;
cursor: pointer;
font-family: 'Roboto', arial, sans-serif;
font-size: 14px;
height: 40px;
letter-spacing: 0.25px;
outline: none;
overflow: hidden;
padding: 0 12px;
position: relative;
text-align: center;
-webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
transition: background-color .218s, border-color .218s, box-shadow .218s;
vertical-align: middle;
white-space: nowrap;
width: auto;
max-width: 400px;
min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
height: 20px;
margin-right: 12px;
min-width: 20px;
width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
-webkit-align-items: center;
align-items: center;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: nowrap;
flex-wrap: nowrap;
height: 100%;
justify-content: space-between;
position: relative;
width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
-webkit-flex-grow: 1;
flex-grow: 1;
font-family: 'Roboto', arial, sans-serif;
font-weight: 500;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
-webkit-transition: opacity .218s;
transition: opacity .218s;
bottom: 0;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
}

.gsi-material-button:disabled {
cursor: default;
background-color: #ffffff61;
border-color: #ffffff1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
opacity: 100%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
opacity: 100%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
background-color: #ffffff;
opacity: 100%;
}

.gsi-material-button:not(:disabled):hover {
-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
background-color: #ffffff;
color: black;
opacity: 100%;
}

.gsi-material-button-contents:hover {
color: black;
}